[Unit]
Description=Auto Backup Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/
ExecStart=/root/backup.sh --update
StandardOutput=file:/home/phil/backup.log
StandardError=file:/home/phil/backup.log

[Install]
WantedBy=multi-user.target